<!DOCTYPE html>
<html>
<head>
  <title>Jorge Quinonez</title>
  <link rel="icon" href="https://drive.google.com/uc?id=1y5Qn-mnbR_ftpVDbZHv3P4hWTo0-h5V7">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../static/assets/css/body.css" type="text/css" >
  <link rel="stylesheet" href="../static/assets/css/parallax-styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-container">
      <div class="logo-container">
        <img src="https://drive.google.com/uc?id=12H6NqUm-FBxjq7w2bcxGM7mSUcOyumSg&export=download" alt="Logotipo"
          class="header-logo">
      </div>
      <button class="menu-button" onclick="toggleDropdown()">
        <i class="fa-solid fa-burger"></i>
      </button>
      <div class="dropdown-content" style="display: none;">
        <img src="https://drive.google.com/uc?id=12H6NqUm-FBxjq7w2bcxGM7mSUcOyumSg&export=download" alt="Logotipo"
          class="dropdown-logo">
        <a href="#inicio" id="link-inicio" class="dropdown-item"><i class="fas fa-home"></i>Home</a>
        <a href="#sobre-mi" id="link-sobre-mi" class="dropdown-item"><i class="fas fa-user"></i>About me</a>
        <a href="#mi-trabajo" id="link-mi-trabajo" class="dropdown-item"><i class="fa-solid fa-pencil"></i>My Job</a>
        <a href="#habilidades" id="link-habilidades" class="dropdown-item"><i class="fas fa-cog"></i>Skills</a>
        <a href="#experiencia" id="link-experiencia" class="dropdown-item"><i
            class="fa-solid fa-star"></i>Experience</a>
        <a href="#contacto" id="link-contacto" class="dropdown-item"><i
            class="fa-solid fa-mobile-screen"></i>Contact</a>
        <div>
          <div class="social-icons">
            <a href="https://www.instagram.com/el_lole07/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/jorgeluisq07/"><i class="fab fa-linkedin"></i></a>
            <a href="mailto: jorgeluisq07@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://torre.co/s/rRZwHE4LMP"><i class="fa-solid fa-user"></i></a>
            <a href="https://wa.me/+573224170713"><i class="fa-brands fa-whatsapp"></i></a>
          </div>
          <p class="dropdown-textinfo">Jorge Quinonez - Graphic and Industrial Designer 2023 ©</p>
        </div>
      </div>
      <nav>
        <a href="#inicio" id="link-inicio"><i class="fas fa-home"></i>Home</a>
        <a href="#sobre-mi" id="link-sobre-mi"><i class="fas fa-user"></i>About me</a>
        <a href="#mi-trabajo" id="link-mi-trabajo"><i class="fa-solid fa-pencil"></i>My Job</a>
        <a href="#habilidades" id="link-habilidades"><i class="fas fa-cog"></i>Skills</a>
        <a href="#experiencia" id="link-experiencia"><i class="fa-solid fa-star"></i>Experience</a>
        <a href="#contacto" id="link-contacto"><i class="fa-solid fa-mobile-screen"></i>Contact</a>
      </nav>
    </div>
  </header>
  <main>
    <section id="inicio" class="parallax">
      <div class="lazy sketchfab-embed-wrapper">
        <iframe title="The_Uncanny_Designer" frameborder="0" allowfullscreen mozallowfullscreen="true"
          webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking
          execution-while-out-of-viewport execution-while-not-rendered web-share width="" height=""
          src="https://sketchfab.com/models/75a8021b4e384c47932432740495e854/embed?autostart=1&camera=0"
          class="responsive-sketchfab">
        </iframe>
      </div>
    </section>
    <section id="sobre-mi" class="parallax">
      <div class="lazy sketchfab-embed-wrapper">
        <iframe title="ABOUT ME" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
          allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport
          execution-while-not-rendered web-share width="" height=""
          src="https://sketchfab.com/models/9d3a26978c474c198de43b79540a56fd/embed" class="responsive-sketchfab">
        </iframe>
      </div>
    </section>
    <section id="mi-trabajo" class="parallax">
      <div class="lazy sketchfab-embed-wrapper">
        <iframe title="MUSEO" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
          allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport
          execution-while-not-rendered web-share width="" height=""
          src="https://sketchfab.com/models/1878778f0d7e4d0292de3ffd7ebeca2e/embed" class="responsive-sketchfab">
        </iframe>
      </div>
    </section>
    <section id="habilidades" class="parallax">
      <div class="lazy sketchfab-embed-wrapper">
        <iframe title="Skills" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
          allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport
          execution-while-not-rendered web-share width="" height=""
          src="https://sketchfab.com/models/723f21bd86e24890a34415f922ab7a71/embed" class="responsive-sketchfab">
        </iframe>
      </div>
    </section>
    <section id="experiencia" class="parallax">
      <div class="lazy sketchfab-embed-wrapper">
        <iframe title="EXPERIENCE" frameborder="0" allowfullscreen mozallowfullscreen="true"
          webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking
          execution-while-out-of-viewport execution-while-not-rendered web-share width="" height=""
          src="https://sketchfab.com/models/ee20a3fb40254cc8b7404aad7bfe0714/embed" class="responsive-sketchfab">
        </iframe>
      </div>
    </section>
    <section id="contacto" class="parallax">
      <div class="lazy sketchfab-embed-wrapper">
        <iframe title="My family" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
          allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport
          execution-while-not-rendered web-share width="" height=""
          src="https://sketchfab.com/models/9ba63c0c502745bdbe668fad062d500a/embed" class="responsive-sketchfab">
        </iframe>
      </div>
    </section>
    <footer>
      <div>
        <p class="texto-footer">Jorge Quinonez - Graphic & Industrial Designer 2023 ©</p>
        <div class="social-icons">
          <a href="https://www.instagram.com/el_lole07/">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/jorgeluisq07/">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="mailto: jorgeluisq07@gmail.com">
            <i class="fa-solid fa-envelope"></i>
          </a>
          <a href="https://torre.co/s/rRZwHE4LMP">
            <i class="fa-solid fa-user"></i>
          </a>
          <a href="https://wa.me/+573224170713">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
      </div>
    </footer>
  </main>
  <script src="https://kit.fontawesome.com/af5010314e.js" crossorigin="anonymous"></script>
  <script src="../static/assets/js/back.js"></script>
</body>